@font-face {
    font-family: "elephans";
    src: url("../fonts/Elephans.ttf");
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

}

footer {

    display: flex;
    width: 100%;
    height: 50px;
    background-color: #ffb600;
    justify-content: center;
    font-family: "elephans";
    position: fixed;
    bottom: 0;
}

footer ul li a{
    display: inline-block;
    padding-top: 17px;
    color: black;
}
#spacefooter{
    bottom: 0;
    height: 50px;
}